
<%- include('layout', { body: null }) %>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Category</th>
    <th>Lead</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  <% contacts.forEach(c => { %>
    <tr class="<%= c.leadType.toLowerCase() %>">
      <td><%= c.name %></td>
      <td><%= c.phone %></td>
      <td><%= c.category %></td>
      <td><%= c.leadType %></td>
      <td><%= c.callStatus %></td>
      <td>
        <a href="/dashboard/delete/<%= c._id %>">❌</a>
      </td>
    </tr>
  <% }) %>
</table>
